<!-- app/views/index.ejs -->
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Estudo - Bem Vindo</title>
    </head>
    
    <body>
        <h1>Bem Vindo - Pagina teste <%=nome %> </h1>
    </body>
    
</html>